<div class="row mx-auto mt-5">
    <div class="col col-md-6 mx-auto mt-5">
        <h1 class="text-info text-center mb-5">Login</h1>
        <form action="/auth/login" method="post">
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary mt-5">Submit</button>
            <p class="">Don't you have an account? <a href="">get register</a></p>
        </form>
    </div>
</div>