<nav class="navbar fixed-top navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
        <a class="navbar-brand " style="color: #0091ff; font-weight: 600;" href="/diary/my"><i
                class="fa-brands fa-discord fa-xl" style="color: #0091ff;"></i>
            DiaryBook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            {{#if isAuthenticated }}
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/diary/my">Mydiaries</a>
                <a class="nav-link" href="/diary/lenta">Lenta</a>
                <a class="nav-link" href="/user/profile">My profile <a>
                        <a class="nav-link" href="/auth/logout">Logout<a>

                                {{else}}
                                <a class="nav-link ms-3" href="/auth/login">Login <i class="fa-solid fa-user"
                                        style="color: #0f83ff;"></i></a>
                                <a class="nav-link ms-3" href="/auth/register">Register</a>
                                {{/if}}
            </div>
        </div>
    </div>
    </div>
</nav>